#File to hold aliases for both bash and zsh (prezto)

alias pac='sudo pacman'
alias rmautosaves='find . -name "*~" -delete'
alias apac='pacaur'
alias sapac='sudo pacaur' 
alias emnw='emacs -nw'
alias emc='emacsclient -c -nw'
alias mypac='sudo pacman -Q | grep -i'
alias amypac='sudo pacaur -Q | grep -i'
alias dlmp3='youtube-dl --extract-audio --audio-format mp3 --audio-quality 190K'
alias aim='cd ~/projects/AimTux/ && git pull && cmake . && make -j 4 && ./load'
alias micspamsink='pactl load-module module-remap-sink sink_name=secondary master=alsa_output.pci-0000_00_14.2.analog-stereo'
alias cdconfig='cd ~/projects/MyConfig'
alias grep='grep --color --line-number'

untar()
{
    tar -xvf $1
}

mirrorsort()
{

    sudo cp $1 mirrorlist.sortbackup
    sudo sed -i 's/^#Server/Server/' /etc/pacman.d/mirrorlist.sortbackup
    echo "Do you want to overwrite the currently in use mirrorlist file? [y,n]"
    read -n 1 "yn"
    case $yn in
	y|Y) echo "Overwriting mirrorlist..."
	     su
	     rankmirrors -n 6 /etc/pacman.d/mirrorlist.sortbackup > /etc/pacman.d/mirrorlist
	     sudo echo "#Overwritten by mirrorsort function, 'date'" >> /etc/pacman.d/mirrorlist
	     exit;;
	n|N) echo "NOT overwriting mirrorlist"
	     sudo cp mirrorlist.sortbackup mirrorlist.ranked
	     su
	     rankmirrors -n 6 /etc/pacman.d/mirrorlist.sortbackup > mirrorlist.ranked
	     echo "See mirrorlist.ranked file for ranked mirrorlist. Normal mirrorlist file not overwritten."
	     exit;;
    esac
    
}

installaur()
{

    tar xvfz $1
    cd $1
    makepkg -sir
    
}

VISUAL="emacsclient -c -nw"
EDITOR="$VISUAL"
export ALTERNATE_EDITOR=""
TERM="xterm-256color"